<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>艺弘缘的后台管理</title>
    <link rel="stylesheet" href="/css/antd.min.css">
</head>
<style>

    #admin{
        width:1200px;
        height: auto;
        margin:0 auto;
    }
    #admin .logo {
        width: 120px;
        height: 31px;
        background: #333;
        border-radius: 6px;
        margin: 16px 28px 16px 0;
        float: left;
    }
    .delete .ant-menu-submenu-title:after{
        content: "";
        display: inline-block;
    }

</style>
<body>
    <div id="admin"></div>
</body>
<!--<script>-->
    <!--document.querySelectorAll('#ad li').forEach(function (v,i) {-->
        <!--v.addEventListener('click',function () {-->
            <!--console.log(i);-->
        <!--},false);-->
    <!--})-->

<!--</script>-->
<script src="/js/admin.js"></script>
</html>