<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="/css/antd.css">
    <style>
        body{
            text-align: center;
        }
        #page .login-form {
            max-width: 300px;
        }
        #page .login-form-forgot {
            float: right;
        }
        #page .login-form-button {
            width: 100%;
        }
    </style>
</head>
<body>
<div id="page"></div>
</body>
<script src="/js/login.js"></script>
</html>